@charset "UTF-8";

body {
    font-family: Arial, helvetica, sans-serif;
}

h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(1, 12, 71);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    outline-width: 5px;
    outline-style: dashed;
    outline-color: salmon;
}

a {
    color: darkblue;
    border-width: px;
    border-style: solid;
    border-color: red;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}