@charset "UTF-8";

body {
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

section#noticias {
    background-color: lightgray;
    padding: 5px;
}

section > aside {
    background-color: rgb(165, 165, 165);
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.678);
}

a {
    color: black;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkblue;
}

footer {
    background-color: black;
    color: white;
    font-weight: normal;
    margin: 0px;
    padding: 4px;
    text-align: center;
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}